hosts:
  - bodes
  - barnard
controlPlaneSubnet: 172.12.12.0/24
cniBackend: 'calico-etcd'
clusterIp: 172.12.12.125
serviceCidr: 10.0.0.0/20
clusterCidr: 10.3.0.0/16
clusterDomain: local.silverstars.io
clusterName: SilverStars
buildDir: /opt/cluster
kubeDir: /etc/kubernetes
kubePki: /etc/kubernetes/pki
kubeletDir: /var/lib/kubelet
kubeProxyDir: /var/lib/kube-proxy
kubeLogDir: /var/log/kubernetes
